<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="public/js/app.js"></script>
<body>
	<div ng-app="myApp" ng-controller="testController">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Challenge # {{challengeIndex + 1}} - {{challenge.content}}</h1>
			</div>
			<div class="panel-body">
				<div ng-repeat="opt in challenge.options">
					<input type="radio" name="chosenOption"
						ng-click="chooseOption($index);"> <span
						style="font-size: 20pt;">{{opt.content}}</span> </input>
				</div>
			</div>
			<div class="panel-footer">
				<button class="btn btn-success"
					ng-click="submit(); nextChallenge();">Submit</button>
			</div>
		</div>
	</div>
</body>