<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/public/js/app.js"></script>
<style>
.winner {
	color: #00CC00;
}
</style>
<body>
	<div ng-app="myApp" ng-controller="reportController">
		<div class="panel panel-default"
			ng-repeat="(challengeId, reportItems) in groupedReport">
			<div class="panel-heading">
				<h1>Challenge: {{reportItems[0].challenge}}</h1>
				<h2>Solution: {{reportItems[0].option}}</h2>
				<div ng-repeat="r in reportItems">
					<div ng-class="{winner: $index == 0}">
						<h3>Test taken: {{r.firstName}} {{r.lastName}}</h3>
						<h3>Time taken: {{r.timeConsumed/1000}} seconds</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>